
*.ini
DATA/bptIi.data
DATA/bptIi.dataHuffmanCompressao.huff
DATA/bptIi.dataLZWCompressao.lzw
DATA/hashcestos.data
DATA/hashcestos.dataHuffmanCompressao.huff
DATA/hashcestos.dataLZWCompressao.lzw
DATA/hashID.data
DATA/pokedex.db
